@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#header{
    background: url(assets/Rectangle\ 2.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.color-overlay{
    background: linear-gradient(to bottom,#fff, rgba(37, 133, 177, 0.72), rgba(37, 133, 177, 0.72)) ;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
}
.accordion-body a{
    text-decoration: none;
    color: #229DA0;
}
.nav-item a{
    color: black;
    font-family: 'Inter';
}
.nav-item a.active{
    color: #229DA0;
}
.nav-item a:hover{
    color: #229DA0 ;
}
.main-text{
    color: #fff;
    line-height: 67px;
    font-size: 55px;
    font-weight: 700;
    position: relative;
    font-family: Montserrat;
}
.main-p{
    color: #fff;
    font-weight: 500;
    position: relative;
    font-family: Montserrat;
}
.container-fluid button{
    background:  #229DA0;
    color: #fff;
}
button.accordion-button{
    color: #73BFC1;
    background: #fff;
}
.btn{
    background-color: #229DA0;
}
.btn:hover{
    box-shadow: 10px 10px 5px 0px rgba(177, 177, 177, 0.75);
}
.fe{
    border-bottom: 2px dashed #229DA0;
    color:  #229DA0;
    padding-right: 130px;
    font-family: Montserrat;
    font-weight: 600;
}
.one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.one-1 .btn{
    background: #229DA0 ;
    margin-right: 80px;
    text-decoration: none;
}
.one-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.one-2 p{
    font-family: Montserrat;
}
.two-2 p{
    font-family: Montserrat;
}
.card{
    border: none;
    box-shadow: 8px 8px 5px 0px rgba(177, 177, 177, 0.75)
}
.card-body .btn{
    background: #C7E4E4;
}
.two-1 .fe{
    margin-top: 40px;
    border-bottom: 2px dashed #229DA0;
    color:  #229DA0;
    padding-right: 130px;
}
.jbutt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}
.jbutt a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-left: 90px;
    margin-top: -50px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0;
    background: #73BFC1;
    width: 200px;
    padding: 12px;
    box-shadow: 2px 7px 6px rgba(0, 0, 0, 0.1);

}
.jbutt a:hover{
    color: #fff;
    
}
#benefit{
    background: url(assets/background.png) no-repeat;
    background-position: center;
    background-size: 100%;
}
#benefit .container-sm{
    display: flex;
    padding-top: 20px;
    margin-top: 50px;
}
.image{
    margin-right: 50px;
    margin-top: 130px;
    margin-bottom: 130px;
}
.right{
    margin-top: 130px;
    margin-left: 100px;
}
.ben{
    padding: 15px;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 10px;
    width: 556px;
    margin-bottom: 30px;
}
.ben h2{
    font-size: 40px;
    color: #229DA0;
    font-weight: 600;
    font-family: Montserrat;
}
.ben p{
    margin-top: 10px;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    color:  #605F5D;
    font-family: Montserrat;
}
.vectors{
    display: flex;
    align-items: center;
    padding: 10px;
}
.vectors img,.a,.b{
    padding: 10px 30px 10px 30px;
    border: 2px  #2585B1 solid;
    border-radius: 8px;
}
.vectors .d{
    width: 110px;
    height: 70px;
    margin-left: 10px;
}
.vectors .c{
    width: 110px;
    height: 70px;
}
.vectors p{
    color: #2585B1;
    margin-left: 15px;
}
#footer{
    background: url(assets/Rectangle\ 31.png);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Manrope;
}
.top{
    margin-left: 270px;
}
#footer .top{
    width: 660px;
}
.quote{
    display: flex;
    margin-top: 100px;
    
}
.quote img{
    padding-right: 80px ;
    margin-right: 15px;
    margin-top: 50px;
}
.profile-pic{
    border: 3px solid #73BFC1;
    border-radius: 200px;
}
.testimonials .butt-head{
    position: relative;
    margin-right: 70px;
}
.right-rec{
    margin-bottom: 40px;
}
.client{
    margin-top: -340px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 40px 25px 25px;
    margin-bottom: 100px;
}
.client-name{
    font-weight: 800;
}
.profession{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.testimonials{
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.butt-head{
    color: #808080;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}
.butt-head:hover{
    color: #229DA0;
}
.name{
    margin-top: 27px;
    margin-left: 10px
}
.profession{
    color: #808080;
}
.name .client-name{
    color: #229DA0;
    font-weight: 700;
    font-size: 20px;
    line-height: 0;
}
.comment{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
}
.bottom .container-sm{
    background: #229DA0;
    margin-top: 300px;
    border-radius: 10px;
    box-shadow: 2px 7px 6px rgba(0, 0, 0, 0.1) ;
}
.sub-text{
    font-size: 28px;
    margin-top: 15px;
    line-height: 34px;
    font-weight: 400;
    color: #fff;
    margin-right: 80px;
    font-family: Montserrat;
}
.sub{
    background: #fff;
    padding: 10px;
    width: 500px;
}
.sub .btn{
    margin-left: 90px;
    background: #64A8C7;
    height: 52px;
    border-radius: 4px;
    padding: 10px 50px 10px 50px;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    font-family: Montserrat;
}
.sub input{
    border: none;
    font-weight: 400;
    color:  #2B3D51;
    margin-left: 10px;
    font-family: Montserrat;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 20px 0 30px 0;
    border-bottom: 1px solid #8b8b92;

}
.bottom-nav ul{
    display: flex;
    justify-content: space-between;
}
.links li{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-right: 50px;
}
.links a{
    color:  #229DA0;
    font-size: 16px;
    font-weight: 500;
    font-family: DM sans;
}
.social li{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-right: 20px;
}
.social i{
    color:  #229DA0;
    font-size: 25px
}
.you:hover{
    color: red;
    transition: .5s;
    transform:translateY(-10px);
}
.twi:hover{
    color: #1da1f2;
    transition: .5s;
    transform:translateY(-10px);
}
.vi:hover{
    color: #000;
    transition: .5s;
    transform:translateY(-10px);
}
.face:hover{
    color: #000;
    transition: .5s;
    transform:translateY(-10px);
}
.bottom-nav li{
    list-style-type: none;
}
.bottom-nav a{
    text-decoration: none;
}
.beg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #229DA0;
    font-family: DM sans;
}
.mid{
    display: flex;
    justify-content: center;
}
.end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.end a{
    padding: 15px;
    color: #229DA0;
    text-decoration: none;
    font-weight: 500;
    font-family: DM sans;
}

@media(max-width: 850px){
    #header{
        background-size: cover;
        padding: 0 auto;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .p-butt{
        display: flex;
        flex-direction: column;
    }
    .main-text{
        font-size: 70px;
        line-height: 80px;
    }
    .main-p{
        font-size: 20px;
    }
    .p-butt .navbar{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 650px;
    }
    .text .navbar .btn{
        padding: 10px;
        display: flex;
    }
    .text .navbar .accordion-button{
        display: flex;
        padding: 5px;
    }
    #details .butt .btn{
        text-align: center;
    }
    .jbutt img{
        width: 170px;
        height: auto;
    }
    .jbutt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .jbutt a{
        width: 110px;
        align-items: center;
        margin-right: 80px;
        display: flex;
        justify-content: center;
    }
    #benefit .container-sm{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 1000px;
        
    }
    #benefit .container-sm .image img{
        height: 320px;
        width: 280px;
        margin-left: 110px;
        margin-right: 0;
    }
    .right{
        margin-right: 30px;
    }
    .ben{
        width: 300px;
        margin-right: 80px;
        margin-top: 30px;
    }
    .ben h2{
        font-size: 25px
    }
    .ben p{
        font-size: 15px;
    }
    .vectors{
        display: flex;
        flex-direction: column;
    }
    #footer .container-sm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top{
        margin-right: 260px;
    }
    .bottom .container-sm .col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sub-text{
        margin-left: 100px;
    }
    .bottom-nav{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .bottom-nav ul{
        padding: 0;
    }
    .bottom-nav ul li{
        padding: 10px;
    }
    .bottom .row{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 800px;
    }
    .mid img{
        height: 50px;
        width: 150px;
    }
    .end a{
        display: flex;
        padding: 0 10px 0 10px;
        margin-left: 5px;
        width: 120px;
    }
}
/*new iphone*/
@media (width:414px){
    #header{
        background-size: cover;
        padding: 0 auto;
    }

}
/*smaller phones*/
@media (width:375px){

}